/* palette */
:root {
    --bg-color: #7cd8ff; /* formerly: #77C4F8; */
    --text-color: #171717;
    --primary-color: #053C61;
    --secondary-color: #ddcb54; /* formerly: #DE8755; */
}

/* Global body styles */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Lucida Console", sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h5 {
    font-family: monospace, sans-serif;
}

/* Primary buttons / elements */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Secondary buttons / elements */
.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* Links */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

/* Card styles */
.card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Floating action button */
.fab {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
}

/* Skeleton loader */
.skeleton {
    background-color: #dcdcdc;
    border-radius: 0.25rem;
    min-height: 150px;
    margin-bottom: 1rem;
}

.radius-selector select {
    width: 6.5rem;
    height: 3rem;
    text-align: center;
    border-radius: 3rem;
    font-size: 1.25rem;
    padding: 0;
    padding-right: 1.5rem;
}

.navbar-logo {
    height: 4rem;
}

.auth-form {
    width: 80%:
    max-width: 400px;
}

.auth-form form {
    width: 100%;
}


/* 
--------- MAP STUFF  ------------
*/
.map-icon-container {
    border-radius: 100%;
    background-color: #053C61;
    padding: 0.25rem;
    width: fit-content;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}
.map-icon-container.unclaimed {
    background-color: var(--secondary-color);
    z-index: 11;
}
.map-icon-container.claimed {
    background-color: var(--bg-color);
    z-index: 10;
}


/* 
--------- INDEX PAGE ------------
*/

.section {
    padding: 5rem 0;
}
.hero {
    background: url('/images/bees-at-hive.png') center/cover no-repeat;
    color: white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}
.hero-overlay {
    background-color: rgba(5, 60, 97, 0.6);
    padding: 8rem 1rem;
}
.feature-img {
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.testimonial {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
footer {
    padding: 2rem 0;
}
